.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  text-align: center;
}

.textResults {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  overflow-x: scroll;
}
.textResultsContainer {
  display: grid;
  grid-template-columns: minmax(130px, 130px) repeat(auto-fill, 130px);

  .content {
    .lable {
      font-weight: 500;
    }
    .lastPrice {
    }
    .avgPrice {
    }
  }
}
